@Import Url("Https://Fonts.Googleapis.Com/Css2?Family=Poppins:wght@400;500;600;700&Display=Swap");

* {
    Margin: 5;
    Padding: 0;
    Box-Sizing: Border-Box;
    Font-Family: "Poppins", Sans-Serif;
}

.top-right {
    position: right;
    top: 8px;
    right: 10px;
}
.top-right a{
    color:white;
}

A {
    Text-Decoration: None;
}

Nav {
    Display: Flex;
    Align-Items: Center;
    Justify-Content: Space-Between;
    Padding: 30px 100px;
}

Nav Ul Li {
    List-Style: None;
    Display: Inline-Block;
    Padding: 10px 15px;
    Position: Relative;
    Padding: 5px 25px;
    font-size: 20px;
    font-weight: bold;
}

Nav Ul Li A:hover {
    Color: orange;
}

.subjects li{
    font-weight: bold;
}

@media screen and (max-width:768){
    nav {
        display: none;
    }
}