@Import Url("Https://Fonts.Googleapis.Com/Css2?Family=Poppins:wght@400;500;600;700&Display=Swap");

* {
    Margin: 0;
    Padding: 5px 30px;
    Box-Sizing: Border-Box;
    Font-Family: "Poppins", Sans-Serif;
}
.logo{
    margin:0;
    padding:0;
    border:0;
}
A {
    Text-Decoration: None;
}

.navigator Nav {
    Display: Flex;
    background:lightgoldenrodyellow;
    Align-Items: Center;
    Justify-Content: Space-Between;
    Padding: 20px 100px;
    margin:0,0;
}

.navigator Nav Ul Li {
    List-Style: None;
    Display: Inline-Block;
    Padding: 10px 15px;
    Position: Relative;
    Padding: 5px 25px;
    font-size: 20px;
    font-weight: bold;
}

.navigator Nav Ul Li A:hover {
    Color: orange;
}


/* -------------------------------
    College.html
    -----------------------------------*/
    .engg{
        background-color: rgb(194, 229, 229);
    }
    .engg ol{
        List-Style: None;
    }
    .medical_college{
        background-color: rgb(216, 201, 145) ;
    }
    .medical_college ol{
        List-Style: None;
    }
    .pharmacy{
        background-color: rgb(114, 225, 147) ;
    }
    .pharmacy ol{
        List-Style: None;
    }
    .Educational_colleges{
        background-color: rgb(241, 207, 217) ;
    }
    .Educational_colleges ol{
        List-Style: None;
    }
    .Vocational{
        background-color: rgb(239, 236, 202) ;
    }
    .Vocational ol{
        List-Style: None;
    }

/*---------------------------------------------
---------------------------------------------*/
.navigator2 li{
    display:inline-block;
}
.navigator2{
    background:#dbe1f3;
    margin:0px 30px;
}
.navigator2 nav ul li a {
    color:#0a4682;
}
.navigator2 A:hover {
    color:#eff2f4;
}
.road_role ol{
    List-Style: None;
}
.road_role{
    background:rgb(204, 204, 82);
    margin:0px 30px;
}
.road_role A:hover {
    color:#eff2f4;
}
.road_role A {
    color:#303840;
}
.skill_based ol{
    List-Style: None;
}
.skill_based{
    background:rgb(212, 212, 182);
    margin:0px 30px;
}
.skill_based A:hover {
    color:#eff2f4;
}
.skill_based  A {
    color:#555758;
}